@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');

.App{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Strait', sans-serif;
  background-color: #e8e8e8;
}
.header{
  width: 100%;
  top : 0;
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: #085199;
}
.nav__button{
  font-family: 'Strait', sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin: 5px;
  border-radius: 5px;
  border: transparent;
  width: 20vh;
  height: 30px;
}
.nav__button:hover{
  background-color: #e8122b;
  color: #e8e8e8;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 50px 0px;
}
.home__title{
  margin-bottom: 2px;
}
.home__explanation{
  width: 60%;
  text-align: justify;
  margin: 10px 0px 0px 5px;
}
.home__author-date{
  font-weight: 600;
  width: 60%;
  margin-top: 10px;
}
.home__video{
  width: 70vw;
  height: 45vw;
}
.home__picture{
  width: 60vw;
}

.footer{
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #085199;
}

.neas{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landings{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#map { height: 180px; }