@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
@import "../Utils/variables.scss";

.App {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background-color: $background-color;
    padding-bottom: 2em;
    min-height: 100vh;
    position: relative;
}
    
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}