@import "../Utils/variables.scss";

@mixin footer__style {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-size: 17px;
  font-family: "Oswald", sans-serif;
}

.footer {
  box-shadow: 0px 0px 5px rgb(90, 90, 90);
  color: $text-color;
    background-color: $menu-color;
    @include footer__style;
}
.footer_dark {
  color: white;
    background-color: #363B81;
    @include footer__style;
}
