@import './Views/app';
@import './Utils/screens';
@import './Components/landings';
@import './Components/landing';
@import './Components/footer';
@import './Components/header';
@import './Components/home';
@import './Components/deleted';
@import './Components/store';

@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');
#mapL{
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 1024px) {
  #map {
    margin-top: 20px;
    height: 500px;
    width: 720px;
  }
  .fLandings__form {
    width: 600px;
    justify-content: center;
    align-items: center;
    padding: 0px 60px;
  }
  .nav__button,
  .nav__button-active {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  #map {
    margin-top: 20px;
    height: 420px;
    width: 420px;
  }
  .fLandings__head {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .fLandings__form {
    width: 420px;
    padding: 0px 0px;
  }
  .header {
    justify-content: flex-end;
  }
  .nav__button,
  .nav__button-active {
    width: 80px;
  }
  .carrito{
    top: 10px;  
    left: 110px;  
    width: 30px;
    height: 30px;
  }
  .length{
    left: 95px;
}
}

@media screen and (max-width: 425px) {
  #map {
    margin-top: 100px;
    height: 370px;
    width: 370px;
  }
  .fLandings__form {
    width: 370px;
  }
  .nav__button,
  .nav__button-active {
    width: 80vw;
  }
  .header {
    justify-content: center;
    padding-bottom: 10px;
  }
  .header__logo {
    position: relative;
    left: 0;
    top: 0;
    margin: 0px;
  }
  .home {
    margin-top: 180px;

  }
  .carrito{
    position: fixed;
    z-index: 100;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
  }
  .length{
    left: 5px;
    position: fixed;
}
.store{
  margin-top: 180px;
}
}
@media screen and (max-width: 375px) {
  #map {
    height: 310px;
    width: 310px;
  }
  .fLandings__form {
    width: 310px;
  }
  .landing {
    width: 310px;
    flex-flow: column;
  }
  .neas {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

