@import './Views/app';
@import './Components/landings';
@import './Components/footer';
@import './Components/header';
@import './Components/from';
@import './Components/home';
@import './Components/deleted';

@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');




.neas{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

